@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    max-width: 1400px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    color: #533738;
}

h1{
    font-size: 50px;
    line-height: 62px;
    font-style: normal;
    font-weight: 400;
}

h2{
    font-size: 40px;
    line-height: 50px;
    font-weight:lighter;
}

h3 {
    font-size: 30px;
    line-height: 37px;
    font-weight: 500;
}

button, .button {
    background-color: #CC8B86;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}

a{
    padding: 0;
    text-decoration: none;
    color: #533738; 
}

q{
    font-size: 18px;
    line-height: 30px;
}

cite{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}


main{
    background-color: #EFE6E4;
}

.page-header{
    background-image: url('img/main.png');
    height: 715px;
    display: flex;
    flex-direction:column;
}

.wide-container{
    display: flex;
    margin: 0;
    padding: 0;
    width: 1201px;
    height: 25px;
    justify-content: flex-start;
    margin: 36px 100px 0 98px;
}

.logo img {
    text-align: center;
    vertical-align: middle;
}

nav {
    margin-left: 89px;
    vertical-align: baseline;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #533738;
    display: flex;
    justify-content: space-between;
    
}

nav ul li{
    padding-right: 26px;
}

.phone{
    margin: 0;
    margin-left: 10px;
    align-self: flex-end;
    vertical-align: baseline;
}

.promo {
    margin-bottom: 65px;
}

.main-heading{
    width: 534px;
    padding: 0;
    margin: 0;
    margin-top: 91px;
    margin-left: 184px;
}

.promo-description{
    width: 493px;
    margin-top: 24px;
    margin-left: 184px;
    margin-bottom: 21px;
}

.promo-button{
    display: block;
    margin-top: 0;
    padding: 25px 65px;
    margin-left: 184px;
    width: 179px;

}

.about{
    padding-top: 65px;   
}

.section-heading{
    text-align: center;
    margin: 0 auto;
    width: 1400px;
}

.half-wrap{
    margin-top: 40px;
    display: flex;
    column-gap: 63px;
    margin-left: 182px;
}

.text-wrap{
    width: 528px;
    text-align: left;
    margin-top: 0;
}


.achiev {
    background-color: #8D7370;
    margin-top: 21px;
    padding: 85px 180px 81px 182px;
}

.achiev_list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.achiev h1, h3{
    color: #FFFFFF;
    margin: 0;
}

.our-work {
    margin: 65px 100px 0 100px;
}

.our-work_title {
    margin: 0;

}

.our-work .container{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;
}

.work1{
    background-image: url("img/work1.png");
    width: 488px;
    height: 451px;
    color: white;
    position: relative;
    cursor: pointer;
}
.work1_text{
    z-index: -1;
    width: 488px;
    height: 451px;
    overflow: hidden;
    position: relative;
    background-color: rgba(100, 72, 69, 0.8);
}

.work1_text h3{
    text-align: center;
    margin: 86px 106px 23px;
    width: 270px;
}

.work1_text p{
    width: 418px;
    text-align: justify;
    margin: 0 35px;
}

.work1:hover {
    z-index: 0;
    
}
.work2{
    background-image: url("img/work2.png");
    width: 692px;
    height: 451px;
}
.work3{
    background-image: url("img/work3.png");
    width: 692px;
    height: 451px;
}
.work4{
    background-image: url("img/work4.png");
    width: 488px;
    height: 451px;
}

.next {
    font-style: normal;
    font-size: 30px;
    line-height: 37px;
    background-color: rgba(28,28,28,0);
    margin: 0 auto;
    text-align: center;
    display: block;
}

.our_skill, .our_team {
    width: 1399px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_team{
    margin-top: 65px;
    padding-top: 50px;
}

.team{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 1036px;
    height: 443px;
}

.team_title, .skill_title{
width: auto;
margin: 0 auto;
}

.team_member {
    width: 320px;
    height: 443px;
    text-align: left;
}

.our_skill {
    margin-top: 35px;
}

.back_team_skill{
    background-color: #E2C4BA;
    min-height: 998px ;
}

.skill {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-top: 40px;
}

.skill_descript{
    display: flex;
    flex-direction: column;
    width: 285px;
}

.ellipse{
    background-color: #8D7370;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    align-self: center;
}

.ellipse::before{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    padding: 20px 26px;
    
}

.ellipse-1::before {
    content: "1";
    padding: 20px 29px;
}
.ellipse-2::before {
    content: "2";
}
.ellipse-3::before {
    content: "3";
}
.ellipse-4::before {
    content: "4";
    padding: 20px 24px;
}

.skill_descript p{
    margin-top: 20px;
}

.review_title{
    text-align: center;
    margin: 0;
    margin-top: 65px;
}

.review_carousel{
    display: flex;
    width: 1036px;
    min-height: 568px;
    justify-items: center;
    margin: 40px auto 65px ;
    vertical-align: middle;
}

.review_prev, .review_next{
    min-width: 72px;
    min-height: 72px;
    background-color: #CC8B86;
    margin: auto 0;
    border-radius: 50%;
    cursor: pointer;
}


.review_prev {
    margin-right: 29px;
    background-image: url("img/prev.svg");
}

.review_next{
    margin-left: 9px;
    background-image: url("img/prev.svg");
    transform: rotate(180deg);
}


.review-text, .review-img{
    width: 407px;
    margin: auto 20px auto 0;
}

.review-text cite{
    line-height: 60px;
}

.review-img img{
    width: 407px;
    height: 272px;
}

.review-img img:first-child{
    margin-top: 0;
    margin-bottom: 24px;
}
.review-img img:last-child{
    margin: 0;
}










.submit{
    background-color: #8D7370;
    color: #FFFFFF;
}

.form{
    width: 512px;
    height: 394px;
}

.submit div img{
    width: 590px;
    height: 624px;
}