body {
    max-width: 1400px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.primary {
    background-image: url('img/main.png');
    height: 715px;
}
nav {
    max-width: 1201px;
    top: 0px;
    margin: 0px 100px auto 98px;
    padding: 36px 0 0 0;
}

nav ul{
    list-style-type: none;
    color: #533738;
    
}

nav ul li{
    display: inline;
    margin: auto 13px;
}

nav ul li a{
    padding: 0;
    text-decoration: none;
    color: #533738; 
    font-family: 'Montserrat';
}

.logo img {
    padding: 0;
    margin: 0;
}

.logo p {
    padding: 0;
    margin: 0;
}
