body {
    max-width: 1400px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    color: #533738;
}

main{
    background-color: #EFE6E4;
}

.primary {
    background-image: url('img/main.png');
    height: 715px;
    margin-bottom: 65px;
}
nav {
    max-width: 1201px;
    top: 0px;
    margin: 0px 100px auto 98px;
    padding: 36px 0 0 0;
}

nav ul{
    list-style-type: none;
    color: #533738;
    
}

nav ul li{
    display: inline;
    margin: auto 13px;
}

nav ul li a{
    padding: 0;
    text-decoration: none;
    color: #533738; 
}

.logo {
    position: absolute;
    top: 38px;

}

.logo img {
    padding: 0;
    margin: 0;
}

.logo p {
    padding: 0;
    margin: 0;
}

.slogan {
    width: 534px;
    margin: auto 184px;
}

h1{
    font-size: 50px;
    line-height: 62px;
}

h2{
    font-size: 18px;
    line-height: 30px;
    font-weight:lighter;
}

.slogan button{
    width: 309px;
    height: 74px;
    background-color: #CC8B86;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

}

.about_us{
    text-align: center;
}

.achiev {
    background-color: #8D7370;
}

.achiev p{
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
}